<div> 
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">WatchDogg Monitor</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Carriers</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add Carrier</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Active Loads</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">GPS</a>
      </li>
    </div>
  </nav>
  <br>
  <a class="navbar-brand" href="/"><img src="../../assets/300-semi.png" alt="Logo" style="margin-left:400px; width:10%; margin-top: 10px">&nbsp;&nbsp;&nbsp;Middle of the Map Trucking<small>&reg;</small>
    <strong style="margin-left: 40px; color: cadetblue;">WatchDogg-Monitor</strong>
  </a>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>