
<div class="container">
 

    <div class="row">
     
      <div class="col-sm">
        <br><br>
        <h3 style="color:rgb(19, 100, 172)">GPS SmartWatch</h3><br><br>
            <div class="card-header"><label><strong>GPS/MQTT - Message Queuing & Telemetry Transport</strong></label> </div>
            <!--<div class="card-header"><label><strong>{{ currentTutorial.title }}</strong></label> </div>-->
            <div class="card-body text-danger">
             
              <p class="card-text">
              
              <strong>Carrier: Middle of the Map Trucking</strong><br>
              <strong>Driver(s): Raheem Sealy</strong><br>
              <strong>Description: 2000lbs. Max - Pharmaceuticals</strong><br>
              <strong>Time: 22:49:36</strong><br>
              <strong>Start Time Zone: CST</strong><br>
              <strong>Destination: Chicago, IL</strong><br>
              <strong>Date: 03/01/2022 </strong><br><br>
              <strong>Status: Public </strong><br><br>
              
              <a href="#" class="btn btn-info">Send (MQTT)</a></p>
              
            </div>
            
          </div>
          <a href="#"><img src="../../assets/gpsTracker.jpg" class="gps" currentTutorial.id></a> 
         
      </div>
      
        
      
      
    </div>